<div class="container">
  <h1>Hello, <%= @logged_in_as.username %>!</h1>
  <p>Here's the information we have for you:</p>
  <ul>
    <li>Username: <%= @logged_in_as.username %></li>
    <li>Email address: <%= @logged_in_as.email %></li>
    <li>Registered at: <%= @logged_in_as.created_at %></li>
    <li>Updated at: <%= @logged_in_as.updated_at %></li>
  </ul>
  <p>There will eventually be more stuff here.</p>

</div>
